<div class="container">
  <div class="timer">
    <p>{{ stopWatch | async }}</p>
  </div>
  <div class="timer-btn">
    <input
      class="start btn"
      type="button"
      (mouseup)="startTimer()"
      [ngClass]="start?.value ? (pause?.value ? 'default' : 'stop') : 'default'"
      [value]="start?.value ? (pause?.value ? 'Start' : 'Stop') : 'Start'"
    />
    <input class="reset btn" type="button" (mouseup)="reset()" value="Reset" />
    <input
      class="btn"
      id="wait"
      type="button"
      [disabled]="!start?.value || pause.value"
      (click)="wait()"
      value="Wait"
    />
  </div>
</div>
